<div class="contact">
    <div class="contact-container">
        <h1>Contact Us</h1>
        <div class="contact-row">
            <div class="contact-col">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14312.633101880678!2d28.04190596700082!3d-26.25652607674783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950f0b902d3049%3A0x414df1848cc92471!2s44-32%20Berg%20St%2C%20Rosettenville%2C%20Johannesburg%20South%2C%202190%2C%20South%20Africa!5e0!3m2!1sen!2sus!4v1755604223946!5m2!1sen!2sus"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contact-info">
                    <p>
                        <i class="fas fa-phone-alt"></i>
                        <a href="tel:+27105160950">+27 105160950</a> /
                        <i class="fab fa-whatsapp"></i>
                        <a href="https://wa.me/27833747585" target="_blank" rel="noopener noreferrer">+27 83 374
                            7585</a>
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:infos@prestige1temperature.com">infos&#64;prestige1temperature.com</a>
                    </p>
                    <p>
                        <i class="fas fa-map-marker-alt"></i> 47 Berg St, Rosettenville, Johannesburg, South Africa,
                        2190
                    </p>
                    <p>
                        <i class="fab fa-facebook"></i>
                        <a href="https://www.facebook.com/prestige-temperature" target="_blank"
                            rel="noopener noreferrer">prestige-temperature</a>
                    </p>
                </div>

            </div>

            <div class="contact-col">
                <p class="status-message" *ngIf="messageStatus">{{ messageStatus }}</p>

                <form #contactForm="ngForm" #contactFormElement novalidate (ngSubmit)="sendEmail(contactForm)">
                    <div class="form-group">
                        <input type="text" name="user_name" [(ngModel)]="user_name" placeholder="Your Name" required
                            #userName="ngModel">
                        <div class="error" *ngIf="userName.invalid && userName.touched">Name is required.</div>
                    </div>

                    <div class="form-group">
                        <input type="tel" name="user_phone" [(ngModel)]="user_phone" placeholder="Phone Number" required
                            #userPhone="ngModel">
                        <div class="error" *ngIf="userPhone.invalid && userPhone.touched">Phone number is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" name="user_email" [(ngModel)]="user_email" placeholder="Your Email" required
                            email #userEmail="ngModel">
                        <div class="error" *ngIf="userEmail.invalid && userEmail.touched">Enter a valid email address.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="user_address" [(ngModel)]="user_address" placeholder="Your Address"
                            required #userAddress="ngModel">
                        <div class="error" *ngIf="userAddress.invalid && userAddress.touched">Address is required.</div>
                    </div>

                    <div class="form-group">
                        <textarea name="message" [(ngModel)]="message" rows="5" placeholder="Message" required
                            #userMessage="ngModel"></textarea>
                        <div class="error" *ngIf="userMessage.invalid && userMessage.touched">Message is required.</div>
                    </div>

                    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>