<div class="services">
    <div class="services-container">
        <h1>Appliance Repairs</h1>

        <div class="services-grid">
            <div class="first-content">
                <img src="assets/images/service88.webp" alt="service1">
                <h2>We repair a wide
                    range of appliances:</h2>

                <ul>
                    <li>Refrigerators & Freezers</li>
                    <li>Washing Machines & Dryers</li>
                    <li>Ovens, Stoves & Microwaves</li>
                    <li>Dishwashers</li>
                    <li>Air Conditioners & Heaters</li>
                </ul>

                <h2>Why Choose Us</h2>
                <ul>
                    <li>Certified Technicians: Skilled and experienced experts.</li>
                    <li>Fast Response: Same-day or next-day service.</li>
                    <li>Quality Parts: Original and warranty-backed components.</li>
                    <li>Affordable Pricing: Transparent, no hidden fees.</li>
                    <li>Customer Satisfaction: 24/7 support and guaranteed service.</li>
                </ul>
                <h2>Our Process</h2>
                <ol>
                    <li>Contact Us → Call or book online.</li>
                    <li>Diagnosis → We inspect and identify the issue.</li>
                    <li>Repair → Quick, professional, and precise fixes.</li>
                    <li>Testing & Guarantee → Ensuring everything works perfectly.</li>
                </ol>
            </div>
        </div>
    </div>
</div>