<div class="services">
    <div class="services-container">
        <h1>Exhaust Fan Cleaning</h1>

        <div class="services-grid">
            <div class="first-content">
                <img src="assets/images/service77.webp" alt="service1">
                <h2>Exhaust Fan Cleaning:</h2>
                <h3>A Comprehensive Guide for Optimal Performance</h3>

                <p>
                    Exhaust fans are essential appliances in our homes and workplaces, ensuring proper ventilation and
                    maintaining air
                    quality by removing moisture, odors, and pollutants. However, over time, these fans accumulate dust,
                    grease, and grime,
                    which can hinder their performance and even pose health risks. Regular cleaning of exhaust fans is
                    crucial for their
                    efficient operation and longevity. This guide will walk you through the steps and best practices for
                    cleaning exhaust
                    fans, ensuring they function optimally and safely.
                </p>
            </div>
            <div class="second-content">
                <img src="assets/images/service777.webp" alt="service1">

                <p>
                    Exhaust fans, whether in kitchens, bathrooms, or other areas, play a vital role in maintaining
                    indoor air quality. Here
                    are some reasons why regular cleaning is important:
                </p>
                <ol>
                    <li>
                        <p>
                            Improved Air Quality: A clean exhaust fan effectively removes contaminants, ensuring a
                            healthier environment.
                        </p>
                    </li>
                    <li>
                        <p>
                            Enhanced Efficiency: Clean fans operate more efficiently, saving energy and reducing
                            electricity bills.
                        </p>
                    </li>
                    <li>
                        <p>
                            Extended Lifespan: Regular maintenance prevents buildup that can cause wear and tear,
                            extending the fan's life.
                        </p>
                    </li>
                    <li>
                        <p>
                            Fire Safety: In kitchens, grease accumulation in exhaust fans can be a fire hazard. Regular
                            cleaning reduces this risk.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>