<div class="services">
    <div class="services-container">
        <h1>Our Services</h1>

        <div class="services-grid">
            <a routerLink="/services/1" class="service-item">
                <i class="fas fa-fire-alt"></i>
                <h2>VRV Systems Heating</h2>
            </a>

            <a routerLink="/services/4" class="service-item">
                <i class="fas fa-snowflake"></i>
                <h2>Fridge & Freezer Repair</h2>
            </a>

            <a routerLink="/services/7" class="service-item">
                <i class="fas fa-fan"></i>
                <h2>Exhaust Fan Cleaning</h2>
            </a>

            <a routerLink="/services/2" class="service-item">
                <i class="fas fa-tools"></i>
                <h2>Aircon Repairs & Installations</h2>
            </a>

            <a routerLink="/services/6" class="service-item">
                <i class="fas fa-water"></i>
                <h2>Pipe Cleaning</h2>
            </a>

            <a routerLink="/services/5" class="service-item">
                <i class="fas fa-exchange-alt"></i>
                <h2>System Replacement</h2>
            </a>

            <a routerLink="/services/3" class="service-item last-item">
                <i class="fas fa-gas-pump"></i>
                <h2>Freon Air Conditioner Refill</h2>
            </a>
        </div>
    </div>
</div>