<section class="about-snippet">
    <div class="left">
        <img src="assets/images/logo.webp" alt="Company">
        <p class="white-text">Technicians with years of experience.</p>
        <p class="gold-text">prestige temperature</p>
    </div>
    <div class="right">
        <p class="gold-text">
            At Prestige Temperature, we pride ourselves on being the leading specialists in air conditioning, heating
            solutions, and
            refrigeration services in Johannesburg. Located at 47 Berg Street, Rosettenville, Johannesburg, 2190,
            SouthAfrica, our
            company is dedicated to providing top-notch climate control solutions tailored to meet your needs.
        </p>
        <p>
            Our mission is to ensure the comfort and satisfaction of our clients by delivering high-quality products and
            services
            that guarantee optimal temperature management. Whether it's the scorching heat of summer or the chilly
            winter months,
            Prestige Temperature has got you covered.
        </p>
    </div>
</section>