*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

 :root {
     --background-color: #050a0f;
     --title-color: #c77d1e;
     --highlight-color: #f2d400;
     --border-color: #f8df0c;
     --text-color: #ffffff;
     --overlay-color: rgba(0, 0, 0, 0.5);
 }

 @media (max-width: 768px) {
     .services {
         margin-top: 70px;
     }
 }